<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/5-removebg-preview.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <title>Girl</title>
    <link rel="stylesheet" href="../public/styles/style.css">
</head>

<body>
    <header class="site-header">
        <div class="logo">
            <img src="../public/img/3-preview.png" alt="">
        </div>
        <button class="menu-toggle">☰</button>
        <div class="navigation">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li class="menu-item-with-submenu"> <a href="#" class="menu-link">Productos</a>
                    <ul class="submenu">
                        <li><a href="girl.html">Girl</a></li>
                        <li><a href="men.html">Men</a></li>
                        <li><a href="info.html">Envases</a></li>
                    </ul>
                </li>
                <li><a href="info.html">Nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>

    <section class="perfume-gallery">
        <div class="perfume-card lavender ">
            <img src="https://fimgs.net/mdimg/perfume/375x500.14456.jpg" alt="Juiced Berry">
            <h3>Juiced Berry</h3>
            <p>Victria's Secret</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://attoperfumes.com.co/cdn/shop/files/Lattafa-Yara-Tous.png?v=1697036194" alt="Yara Tous">
            <h3>Yara Tous</h3>
            <p>Lattafa</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://http2.mlstatic.com/D_NQ_NP_604379-MLU69222977599_052023-O.webp" alt="Bonbon">
            <h3>Bonbon</h3>
            <p>Victor & Rolf</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://mwhite.com.co/cdn/shop/files/carolina-herrera-212-vip-rose-80ml-perfumes-877.webp?v=1713416769" alt="212 Vip Rose">
            <h3>212 Vip Rose</h3>
            <p>Carolina Herrera</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://blushbar.vtexassets.com/arquivos/ids/203677/8411061083659_2.jpg?v=638461312594030000" alt="Good Girl Blush Elixir">
            <h3>Good Girl Blush Elixir</h3>
            <p>Carolina Herrera</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://perfumeriaonline.com.co/cdn/shop/products/4078572_2_1200x1200.jpg?v=1652747637" alt="Joy by Dior">
            <h3>Joy by Dior</h3>
            <p>Dior</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://www.perfumesbogota.com.co/cdn/shop/products/D_NQ_NP_784089-MCO44327037381_122020-O_580x.jpg?v=1677773718" alt="Chance Eau Tendre">
            <h3>Chance Eau Tendre</h3>
            <p>Chanel</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://disfragancias.com/cdn/shop/files/creed-love-in-white-3-600x600.jpg?v=1703995333" alt="Love in White">
            <h3>Love in White</h3>
            <p>Creed</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://belcorpcolombia.vtexassets.com/arquivos/ids/940029/200086432-FotoFondoBlanco.jpg?v=638315184089930000" alt="Expression">
            <h3>Expression</h3>
            <p>Esika</p>
        </div>
        <div class="perfume-card lavender ">
            <img src="https://http2.mlstatic.com/D_NQ_NP_665397-MLU70281008208_072023-O.webp" alt="Champagne Pink">
            <h3>Champagne Pink</h3>
            <p>Bharara</p>
        </div>
    </section>


    <footer>
        <p>&copy; 2025 Q-ustom. All rights reserved.</p>
        <a href="#privacy">Privacy Policy</a>
    </footer>
</body>
<script src="../public/js/main.js"></script>

</html>